<h4>500 - Internal server error</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this Angular is probably not to blame!</p>
    <p>What to do next?</p>
    <ol>
        <li>Open Chrome dev tools and check the failing request in the network tab.</li>
        <li>Examine teh request URL - what API endpoint are you requesting?</li>
        <li>Reproduce the problem in POSTMAN</li>
    </ol>
    <p style="font-weight: bold;">Following is the stacktrace - the first few lines will tell you what line cause the problem in your API.</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>
